<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Error <%= errorCode %></title>
	</head>
	<body>
		<img src="https://http.cat/<%= errorCode %>" alt="" />
		<style>
			html,
			body {
				margin: 0;
				padding: 0;
				height: 100%;
				width: 100%;
			}
			body {
				background: black;
				display: grid;
				place-items: center;
			}
			body img {
				max-width: 90vw;
			}
		</style>
	</body>
</html>
